<%= form_with(model: lesson_plan, local: true) do |f| %>
  <% if lesson_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson_plan.errors.count, "error") %> prohibited this lesson_plan from being saved:</h2>

      <ul>
        <% lesson_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :contents %><br />
    <%= f.file_field :contents, multiple: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
